@import 'util.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
:root{
    --theme:#3DCFD3;
    --fadeBlack: #161616;
    --white: #ffffff;
    --gray: #898989;
    --light: #f2f2f2;
    --black: #070606;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}
header{
    background: var(--fadeBlack);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 95.5%);
}
.container{
    max-width: 1152px;
    padding:0 15px ;
    margin: 0 auto;
}
header nav .left a{
    color:var(--white);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s  ease;
}
header nav .left a:hover{
    color: var(--theme);
}
header nav{
    padding: 2rem 0;
}
header nav .logo{
    margin-right: 3rem;
}
.hero{
    padding: 3rem 0;
}
.hero .left img{
    width: 450px;
}
.hero .right{
    color: var(--white);
} 
.hero .right h6{
    font-size: 1.6rem;
    color: var(--theme);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--theme);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin: -7rem;
}
section{
    padding: 6rem 0;
}
section.about .about-me-image{
    height: 400px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;   
}
section.about h1 span{
    color: var(--theme);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--gray);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--fadeBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .1s ease-in-out;
}
section.about .social a:hover{
    background: var(--theme);
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
.section-heading{
    color: var(--black);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 1.5rem;
    font-weight: 400;
}
.section-heading + p{
    color: var(--fadeBlack);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
.section-heading span{
    color: var(--theme);
    font-weight: 600;
}
section.services{
    background: var(--light);
}
section.services .card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
}
section.services .card-container .card{
    background: var(--white);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 6rem;
    text-align: center;
    transition: all .3s ease;
}
section.services .card-container .card img{
    position: absolute;
    top:-5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.services .card-container .card h2{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-container .card p{
    font-family: 'Lato', sans-serif;
    color: var(--fadeBlack);
    line-height: 1.6;
}
section.services .card-container .card:hover{
    background: var(--black);
}
section.services .card-container .card:hover h2, section.services .card-container .card:hover p{
    color: var(--white);
}
section.project{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../images/camera.png);
    color: var(--white);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 10rem;
}
section.project h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.project p{
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
}
footer{
    background: var(--fadeBlack);
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    margin-bottom: 1rem;
}
footer .copyright{
    color: var(--white);
}
section.contact{
    background: var(--light);
}
section.contact .card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.contact .card-container .card img{
    width: 50px;
    margin-bottom: 1rem;
}
section.contact .card-container .card{
    text-align: center;
}
section.contact .card-container .card h1{
    font-weight: 400;
    margin-bottom: 2rem;
}
section.contact .card-container .card h6{
    font-size: 1rem;
    color: var(--fadeBlack);
    font-weight: 400;
    margin-bottom: 2rem;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--theme);
    font-family: 'Poppins' ,sans-serif;
    font-size: 0.9rem;
}
section.contact input:focus, section.contact .input-wrap-2 textarea:focus{
    outline: none;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5;
    border: 1px solid var(--theme);
    font-family: 'Poppins' ,sans-serif;
    font-size: 0.9rem;
}
section.contact .btn-wrap{
    text-align: center;
    margin-top: 1.5rem;
}
section.contact .section-heading{
    margin-bottom: 5rem;
}
footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social a{
    background: var(--fadeBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .1s ease-in-out;
    margin-bottom: 2rem;
    text-align: center;
}
footer .social a:hover{
    background: var(--theme);
}
footer .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    text-align: center;
}
footer .me{
    border-radius: 50%;
}
section.skill .skill-box{
    position: relative;
    width: 600px;
    margin: 100px auto;
    margin-top: 4rem;
}
section.skill .skill-box .skills{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
section.skill .skill-box .skills h2{
    padding: 0;
    font-size: 18px;
    font-family: 'Poppins' ,sans-serif;
    color: var(--black);
    text-transform: uppercase;
}
section.skill .skill-box .skills .progress{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 2px solid var(--fadeBlack);
    text-align: center;
    line-height: 22px;
    color: var(--fadeBlack);
    overflow: hidden;
}

section.skill .skill-box .skills .progress .percent{
    text-align: right;
    color: transparent;
    padding-right: 10px;
    border-right: 2px solid var(--fadeBlack);
    animation: animate 1 4s;
    animation: animate .5s linear infinite;
    background: linear-gradient(45deg, var(--gray) 25%, transparent 25%, transparent 50%, var(--theme) 50%, var(--theme) 75%, transparent 75%, transparent);
    background-size: 30px 30px;
}
section.skill h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400; 
    text-align: center;  
}
section.skill h1 span{
    color: var(--theme);
}
section.contact h1{
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 650; 
    text-align: center;  
    color: var(--theme);

}
section.contact h1 span{
    color: var(--black);
    font-weight: 500; 
}
.load{
    animation: loading 0.7s linear;
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 30px 0;
    }
}
@keyframes loading{
    0%{
        width: 0%;
    }
}